<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="3 seconds">

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <!-- Property -->
    <property name="logHome" value="./log/"/>
    <property name="logHomeBackup" value="./log/backup/"/>
    <timestamp key="bySecond" datePattern="yyyyMMddHHmmss"/>

    <!-- Console Appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%yellow(%d{HH:mm:ss.SSS}):%highlight(%-5p):%cyan(%-70c:%-5L)] %m%n</pattern>
        </encoder>
    </appender>

    <!--
    File Appender - Server Log
    -->
    <appender name="appenderServer" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logHome}server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logHomeBackup}server.log.%d{yyMMdd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <springProfile name="local">
                <pattern>[%d{HH:mm:ss.SSS}:%-5p:%c{0}:%L] %m%n</pattern>
            </springProfile>
            <springProfile name="!local">
                <pattern>[%d{HH:mm:ss.SSS}:%-5p:%c{0}] %m%n</pattern>
            </springProfile>
        </encoder>
        <param name="MaxBackupIndex" value="4"/>
    </appender>

    <!--
        File Appender - Error Log
     -->
    <appender name="appenderError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logHome}error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logHomeBackup}error.log.%d{yyMMdd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{HH:mm:ss.SSS}:%c] %m%n</pattern>
        </encoder>
        <param name="MaxBackupIndex" value="4"/>
    </appender>

    <!-- 3rd party -->
    <logger name="org.hibernate" level="info" additivity="false"/>
    <logger name="com.github.dockerjava" level="info" additivity="false"/>
    <logger name="org.testcontainers" level="info" additivity="false"/>
    <logger name="org.springframework" level="info" additivity="false"/>
    <logger name="_org.springframework" level="info" additivity="false"/>
    <logger name="org.flywaydb" level="info" additivity="false"/>
    <logger name="org.apache" level="info" additivity="false"/>
    <logger name="org.mybatis" level="info" additivity="false"/>

    <!-- repository -->
    <logger name="com.exam.bank.repo" level="debug" additivity="true"/>

    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="appenderServer"/>
    </root>

</configuration>
